<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>[[${title}]]</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
<h1 class="my-4">[[${title}]]</h1>
<form action=""method="post" th:object="${problem}">
	<span th:errors="*{name}" class="error"></span>
	<p class="mt-2">問題 :<textarea name="name" cols="40" rows="8"  th:field="*{name}"></textarea></p>

	<input class="btn btn-primary" type="submit">
</form>	
	
<p class="mt-4"><a th:href="@{/problems}">一覧に戻る</a></p>
</div>
</body>
</html>
	
	
	
	
	
	
	


